body {
          background-image:url('http://community.futureshop.ca/t5/image/serverpage/image-id/38910iE894B5485B7353E2/image-size/original?v=mpbl-1&px=-1');
          background-size: contain;
}

h2 {
      color:black;
}
h1 {
     color:black;
}
li {
       width:28.3%;
       float:left;
}

h3 {
      text-align:right;
}
h4 {
      text-align:right;
}
h5 {
	text-align:left;
}
h6 {
      text-align:left
}
